@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f1f4f9;
  --secondary-color: #008080;
  --accent-color: #ff9800;
  --text-color: #333;
  --secondary-hover-color: #006666;
  --spacing: 20px;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Baloo 2", cursive;
  line-height: 1.6;
}

/* Animations globales */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
